# ==========================
# PYTHON
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
backend/venv/

# Variables de entorno
backend/.env

# SQLite
*.sqlite3

# ==========================
# DJANGO
# ==========================

staticfiles/
media/

# Logs
*.log

# ==========================
# REACT / VITE
# ==========================

frontend/node_modules/

frontend/dist/

# ==========================
# VS CODE
# ==========================

.vscode/

# ==========================
# SISTEMA OPERATIVO
# ==========================

.DS_Store
Thumbs.db