# SECRET_KEY= Aquí va la SECRET_KEY que se genera en backend/config/setting.py al iniciar el proyecto django 
# DB_NAME= El nombre de la base de datos que conectas (En mi caso puse StockFox_V2)
# DB_USER=root
# DB_PASSWORD= Tu contraseña para entrar a MySQL de no tener, sólo coloca ''
# DB_HOST=localhost
# DB_PORT=3306