# SECRET_KEY= Aquí va la SECRET_KEY que se genera en backend/config/setting.py al iniciar el proyecto django 
# DB_NAME= El nombre de la base de datos que conectas (En mi caso puse StockFox_V2)
# DB_USER=root
# DB_PASSWORD= Tu contraseña para entrar a MySQL de no tener, sólo coloca ''
# DB_HOST=localhost
# DB_PORT=3306
# DEBUG=True - True en la compu, False en Railway
# ALLOWED_HOSTS=localhost,127.0.0.1              - en Railway: tu-backend.up.railway.app
# CORS_ALLOWED_ORIGINS=http://localhost:5173     - en Railway: https://tu-frontend.up.railway.app